@import "reset.css";

.wrap {
    max-width: 90%;
    width: 100%;
    margin : 0 auto;
}

body {
    background-color: #fff;
    font-family: "American Typewriter";
}

header {
    background-color: #fff;
}

header img {
    float: left;
    width: 35%;
    border-radius: 25px;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul {
    float: right;
    margin-top: 70px;
    margin-right: 5%;
}

header nav ul a {
    font-size: 1.2em;
    color: #fff;
    background-color: black;
    padding: 15px 30px;
    border-radius: 40px;
}

header nav ul a:hover {
    color: #749969;
}

.head2 {
    float: right;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 80px 0;
}

.vertical {
    background-color: black;
    border-radius: 10px;
    height: 65px;
    line-height: 30px;
    border: 2px solid white;
    margin: 100px 0;
}

.vertical input[type=checkbox] {
    margin-left: 30px;
}

.vertical label {
    color: white;
}

.barre {
    width: 100%;
    height: 2px;
    background-color: white;
}

.vertical input[type=submit] {
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: 6px;
    width: 80px;
    height: 20px;
    margin-left: 18%;
}

#listefilm {
    float: left;
    width: 20%;
    margin-bottom: 80px;
    margin-left: 5%;
    height: 380px;
    margin-top: 20px;
}

#listefilm h3 {
    margin-top: 15px;
    text-align: center;
}

#listefilm img {
    width: 100%;
    border-radius: 10px;
}

footer {
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
    color: white;
    background-color: black;
    padding: 20px 0;
}

.bienvenue {
    display: block;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 1.5em;
}

.affichefilm:hover {
    animation: shake 1.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
}


/*////////////////////////////
PAGE DE REGISTER
////////////////////////////*/



.inscri {
    margin-left: 39.5%;
}

.inscri label {
    font-size: 1.2em;
    display: block;
    padding-bottom: 20px;
    padding-top: 15px;
    text-transform: uppercase;
}

.inscri input[type=text], .inscri input[type=email], .inscri input[type=password] {
    width: 300px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.inscri input[type=submit] {
    display: block;
    margin-left: 6.2%;
    margin-top: 50px;
    background-color: black;
    padding: 15px 60px;
    border-radius: 10px;
    color: white;
    margin-bottom: 60px;
}


/*////////////////////////////
PAGE DE DETAILS
////////////////////////////*/

.films p {
    line-height: 40px;
    font-size: 1.2em;
    text-align: center;
}

.films h2 {
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 10px;
    margin: 80px 0;
}

.vertical input[type=submit]:hover {
    background-color: white;
    color: black;
}

.films img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.favorite {
    float: left;
    padding: 30px 50px;
    background-color: white;
    color: black;
    border: 1.5px solid black;
    margin-top: -100px;
    margin-left: 50px;
    border-radius: 10px;
}

.favorite:hover {
    background-color: black;
    color: white;
    border: 1.5px solid white;
}

.toosee {
    float: right;
    padding: 30px 50px;
    background-color: white;
    color: black;
    border: 1.5px solid black;
    margin-top: -100px;
    margin-right: 50px;
    border-radius: 10px;
}

.toosee:hover {
    background-color: black;
    color: white;
    border: 1.5px solid white;
}

.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}
.rating a:hover,
.rating a:focus {
    color: orange;
    cursor: pointer;
}

.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
}

.rating a {
    float: right;
}




/*////////////////////////////
PAGE ADMIN
////////////////////////////*/



.adminajout {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    margin: 50px 0;
}

.adminform {
    display: block;
    margin: 40px 40%;
}

.adminform input[type=text], .adminform input[type=number] {
    width: 260px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.adminenvoi {
    width: 160px;
    margin-left: 20%;
    margin-top: 30px;
    border-radius: 5px;
}

.adminenvoi:hover {
    background-color: black;
    color: white;
}

.manageuser {
    margin-left: 30%;
}





@media screen and (max-width: 950px) {
    #listefilm .organisation {
        float: left;
        width: 46%;
        margin-left: 2%;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 650px) {
    #listefilm .organisation {
        float: left;
        width: 92%;
        margin-left: 2%;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 970px) {
    header nav ul {
        float: right;
        margin-right: 5%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 790px) {
    header nav ul a {
        font-size: 1em;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 750px) {
    .inscri {
        margin-left: 20%;
    }
}

@media screen and (max-width: 750px) {
    .inscri input[type=submit] {
        margin-left: 13%;
    }
}

@media screen and (max-width: 790px) {
    .head2 {
        font-size: 0.5em;
        padding: 8px 15px;
    }
}






